<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <main class="content">
      <div id="navbar"></div>

      <section class="about-header">
        <h1>My Journey</h1>
        <p>
          Each step of my journey has helped me learn, grow, and build my
          passion for software development.
        </p>
      </section>

      <section class="timeline">
        <div class="timeline-item hidden">
          <div class="timeline-dot"></div>

          <div class="timeline-date">2019 - 2020</div>

          <div class="timeline-content">
            <h3>High School Diploma</h3>
            <p>
              I earned my Mathematics Baccalaureate in Tunisia with honors, an
              important milestone that sparked my interest in computer science
              and programming logic.
            </p>
          </div>
        </div>

        <div class="timeline-item hidden">
          <div class="timeline-dot"></div>

          <div class="timeline-date">2020 - 2025</div>

          <div class="timeline-content">
            <h3>Data Engineering Studies</h3>
            <p>
              I pursued data engineering studies, where I developed strong
              skills in ETL pipeline design, data processing, data modeling, and
              database management, graduating with high honors.
            </p>
          </div>
        </div>

        <div class="timeline-item hidden">
          <div class="timeline-dot"></div>

          <div class="timeline-date">2026</div>

          <div class="timeline-content">
            <h3>IT Manager Experience</h3>
            <p>
              I worked as an IT Manager, administering ERP databases, managing
              Microsoft Office 365 services, and resolving IT support tickets.
            </p>
          </div>
        </div>

        <div class="timeline-item hidden">
          <div class="timeline-dot"></div>

          <div class="timeline-date">Today</div>

          <div class="timeline-content">
            <h3>Freelance Data Engineer</h3>
            <p>
             I am currently working on freelance data engineering projects,
    using Snowflake, Python, SQL, and Power BI to build and optimize data solutions.
            </p>
          </div>
        </div>
      </section>
    </main>

    <div id="footer"></div>

    <script src="/js/script.js"></script>
  </body>
</html>
