<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<main class="content">

<div id="navbar"></div>
<h1>Contact</h1>

<div class="contact-container">

    <form id="contact-form" class="contact-form">

        <input type="text" id="name" placeholder="Nom" required>

        <input type="email" id="email" placeholder="Email" required>

        <textarea id="message" placeholder="Message" required></textarea>

        <button type="submit">Envoyer</button>

    </form>

<div id="response" class="response-message"></div>

</div>
</main>
<div id="footer"></div>

    <script src="/js/script.js"></script>
</body>
</html>




















