<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>

<body class="index">
    <main class="content">
    <div id="navbar"></div>
    <header class="hero">
        <div class="hero-inner">
            <div class="hero-copy">
                
                <h2>Welcome to my portfolio</h2>

                <p class="subtitle">
                   I am a Data Engineer specialized in building efficient and scalable data pipelines for data integration, migration, and dashboarding. I focus on optimizing data workflows to improve performance, reliability, and data accessibility. During my final year of engineering studies, I worked on a CUDA-based project to explore GPU computing and performance optimization for data processing tasks.
                </p>

                <div class="hero-buttons">
                    <a href="/projects" class="btn-outline">See my projects</a>
                </div>
            </div>

            <div class="profile-card">
                <div class="profile-photo">
                    <img src="/images/profile.jpg" alt="Professional portrait">
                </div>
                <p class="profile-label">Mohamed Amine Hassine | Data Engineer</p>
            </div>
        </div>
    </header>

    <section class="cta1">
        <h2>Let's work together</h2>

        <p>Available for opportunities and projects.</p>

        <a href="/contact" class="btn">Contact me</a>
    </section>
    
    <section id="technologies" class="cta1">
    <h2>Technologies I use</h2>

    <div class="tech-grid">
        <div class="tech-item">
            <img src="/images/java-logo.png" alt="Java">
            <p>Java</p>
        </div>

        <div class="tech-item">
            <img src="/images/logo-bc.png" alt="BC">
            <p>Microsoft Dynamics 365 Business Central</p>
        </div>

        <div class="tech-item">
            <img src="/images/Python-logo.png" alt="Python">
            <p>Python</p>
        </div>

        <div class="tech-item">
            <img src="/images/office-logo.png" alt="Microsoft 365">
            <p>Microsoft 365</p>
        </div>

        <div class="tech-item">
            <img src="/images/Snowflake.png" alt="Snowflake">
            <p>Snowflake</p>
        </div>

        <div class="tech-item">
            <img src="/images/powerbi-logo.png" alt="Power BI">
            <p>Power BI</p>
        </div>
    </div>
</section>

    </main>
    <div id="footer"></div>
</body>

</html>